<div class="effect-wrap">
    <div class="inside">
        <div class="desc">
            <strong>影響</strong>
        </div>
        <div class="data">
            <dl>
                <dt>全ての発言数</dt>
                <dd>{{ recordAmount }}件</dd>
            </dl>
            <dl>
                <dt>感情分布</dt>
                <dd>明：{{ posiRatio }}% ／ 暗：{{ negaRatio }}%</dd>
            </dl>
            <dl>
                <dt>あなたの発言数</dt>
                <dd>{{ recordAmount }}件</dd>
            </dl>
            <dl>
                <dt>あなたの感情分布</dt>
                <dd>明：{{ posiRatio }}% ／ 暗：{{ negaRatio }}%</dd>
            </dl>
        </div>
    </div>
</div>