<!-- セリフ読込 -->
<div id="brain">
    <div class="word">

    </div>
</div>

<!-- ナビゲーター -->
<div class="scene">
    <div class="cube">
        <div class="top flash startup black"></div>
        <div class="bottom flash startup black"></div>
        <div class="front flash startup black"></div>
        <div class="back flash startup black"></div>
        <div class="left flash startup black"></div>
        <div class="right flash startup black"></div>
    </div>
</div>

<!--ナビゲーター発言 -->
<div class="talk-wrap">
    <div class="text eachTextAnime">
    </div>
</div>