<div class="write-wrap">
    <div class="inside">
        <div class="desc">
            <strong>発言</strong>
            <p>
                あなたの想いを、言葉に込めて
            </p>
        </div>
        {% for field in form %}
        <div class="field">
            {% if not field.is_hidden %}
            {# 通常フィールドはラベルと入力枠を出力 #}
            {{ field }}
            {% endif %}
            {% for error in field.errors %}
            {{error}}
            {% endfor %}
        </div>
        {% endfor %}
        <div class="submit">
            <button id="sendMessage">発言する</button>
        </div>
    </div>
</div>