{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/messageapp/common.css' %}">
    {% block css %}{% endblock css %}
</head>
<body id="{{ impact_class }}">
    <main>
        {% block contents %}{% endblock contents %}
    </main>
    <footer>
        {% block footer %}{% endblock footer %}
    </footer>
    {% block js %}{% endblock js %}
</body>
</html>